:root {
    --h1-color: var(--interactive-accent);
}

body {

    .timestamps {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
        color: lightslategray;
        margin-bottom: 2em;

        div {
            margin-right: 5px;
        }
    }

    h1 {
        font-size: 2.5em !important; /* 40px/16=2.5em */
    }

    h2 {
        font-size: 1.5em !important; /* 30px/16=1.875em */
    }

    h3 {
        font-size: 1.17em !important;
    }

    h4 {
        font-size: 1em !important;
        font-weight: bolder !important;
    }

    h5 {
        font-size: .83em !important;
        font-weight: bolder !important;
    }

    h6 {
        font-size: .67em !important;
        font-weight: bolder !important; 
    }
}

// body:not(.remove-pre-rel-lines) ul > li::before, body:not(.remove-pre-rel-lines) ol > li::before {
//     top: 0em !important;
// }
